name: Run e2e tests

# 
# PROCESS
#
# 1. Checkout code
# 2. Install dependencies & build project
# 4. Run e2e tests
#
# USAGE
#
# NOTE: meant to be called by ./.github/workflows/on-pr-code-update.yml when a PR is opened or updated,
# or by ./.github/workflows/make-release.yml when a release is made.
#

on:
  workflow_call:

permissions:
  contents: read

jobs:
  code-quality:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: dev
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - name: Setup NodeJS
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: "npm"
      - name: Setup dependencies
        uses: aws-powertools/actions/.github/actions/cached-node-modules@3b5b8e2e58b7af07994be982e83584a94e8c76c5
        with:
          nodeVersion: 24
      - name: Run e2e tests
        run: BUILT_OUTPUT=true npm run test:e2e