name: Run e2e tests

# 
# PROCESS
#
# 1. Checkout code
# 2. Install dependencies & build project
# 4. Run e2e tests
#
# USAGE
#
# NOTE: meant to be called by ./.github/workflows/on-pr-code-update.yml when a PR is opened or updated,
# or by ./.github/workflows/make-release.yml when a release is made.
#

on:
  workflow_call:

permissions:
  contents: read

jobs:
  code-quality:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: dev
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - name: Setup NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
      - name: Setup dependencies
        uses: aws-powertools/actions/.github/actions/cached-node-modules@3b5b8e2e58b7af07994be982e83584a94e8c76c5
        with:
          nodeVersion: 24
      - name: Run e2e tests
        run: BUILT_OUTPUT=true npm run test:e2e